body{
    background-color: #f0f0f0;
    font-family: Arial;
}

.calculator{
    width: 260px;
    margin: 70px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

#display{
    width: 90%;
    height: 40px;
    font-size: 22px;
    margin-bottom: 15px;
    padding: 5px;
}

.buttons button{
    width: 50px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
}

.clear{
    width: 90%;
    height: 40px;
    background: red;
    color: white;
    border: none;
    margin-top: 10px;
    font-size: 20px;
}
